@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --main-color: #eee;
  --sub-color: #444;
  --bg-color: #111;
  --caret-color: #fff;
  --active-word-color: #444;
  --roundness: 0.25rem;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blue {
  color: #0d6efd;
}

.red {
	color: #dc3545;
}

.green {
	color: #157347;
}

.yellow {
  color: #ffc720;
}

.stats {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  height: 3em;
}

.react-box {
  height: 10em;
  width: 10em;
}

.green-go {
  background-color: green;
}

.pt-button {
  background-color: lavender;
}

.target {
  user-select: none;
  cursor: default;
  aspect-ratio: 1/1;
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  background: white;
  border: 20px solid red;
  transform: 'translate(-50%, -50%)'
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.square {
  aspect-ratio: 1/1;
}

.game {
  background: white;
  height: 300px; 
  margin: 0.2em 0.1em;
  background-image: center;
  background-size: contain;
  background-position: center;
}

button.game {
  transition: all 0.2s;
  padding: 0;
  border-color: white;
}

button.game:hover {
  border: 3px solid white;
}

a {
  text-decoration: none;
}

.game-caption {
  display: flex;
  border-radius: inherit;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0.2em 0.4em;

  background: linear-gradient(-10deg, #00000040 20%, #ffffff44 100%);
}

#reaction {
  background-image: url(./images/reaction.png);
}

#reaction:hover {
  background-image: url(./images/reaction.gif); 
}

#aim-train {
  width: 600px;
  background-image: url(./images/aim-train.png);
  background-color: white;
}

#aim-train:hover {
  background-image: url(./images/aim-train.gif);
  background-repeat: no-repeat;

}

.caption {
  margin: 0;
  font-size: 18px;
}

#simone {
  background-image: url(./images/simone.png);
  background-color: white;

}

#simone:hover {
  background-image: url(./images/simone.gif);
  background-repeat: no-repeat;

}

#proto-type {
  width: 600px;
  background-image: url(./images/proto-type.png);
  background-color: white;
  background-repeat: no-repeat;
}

#proto-type:hover {
  background-image: url(./images/proto-type.gif);
  background-repeat: no-repeat;
}

header {
  background-image: url(./images/wallpaper.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  background-color: #0d6efd;
  color: white;
}

#header {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-10deg, #00000060 60%, #ffffff44 100%);
}

#header > p {
  font-size: 24px;
}

@keyframes caretFlash {
  0% {
    background: transparent;
  }
  50% {
    background: var(--caret-color);
  }
  100% {
    background: transparent;
  }
}

#caret {
  width: 2px;
  height: 1.5rem;
  background: black;
  display: inline !important;
  padding: 0;
  margin: 50px;
  /* position: relative; */
  /* transition: 0.05s; */
}

.inline {
  display: inline !important;
}

.opaque {
  box-sizing: border-box;
  border-left: 2px solid black;
  margin-left: -2px;
}

.transparent {
  border-left: 0px;
}

#words-input {
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  display: block;
}

.restOfWordQuote {
  color: grey;
}


/* #caret {
  width: 2px;
  height: 1.5rem;
  background: var(--caret-color);
  animation-name: caretFlash;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  position: absolute;
  transition: 0.05s;
} */

.hidden {
  display: none !important;
}

.quote {
  text-align: justify;
  font-family: 'Roboto Mono', monospace;;
  font-weight: 550;
}


@media only screen and (max-width: 600px) {
  .App {
    max-width: 600px !important;
  }

  .games {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .target {
    width: 60px;
    height: 60px;
    border: 10px solid red;
  }

  .target-center {
    font-size: 10px;
  }

  .reaction {
    height: 300px !important;
    width: 300px;
  }

  .what {
    max-width: 250px;
  }
  .simone-container {
    max-height: 400px !important;
  }
  .simone-circle {
    position: relative;
    max-width: 400px !important;
    max-height: 400px;
    margin: 0;
    border-radius: 50% !important;
  }

  .quadrant {
    height: 140px !important;
    width: 140px !important;
  }

  #header > p {
    font-size: 16px;
    padding: 0 2em;
  }

  #aim-train {
    width: 300px;
    background-repeat: no-repeat;
  }

  #proto-type {
    width: 300px;
    background-repeat: no-repeat;
  }

  .no-display-mobile {
    display: none !important;
  }
}
